/* Home (with app names) css */
.App {
  text-align: center;
}

.App h1,h2,h3,h4,p,ul,li{
  text-align: center; 
  color: #f2f2f2;
}

.App-logo-wrapper-center {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-logo-circular {
  height: 40vmin;
  border-radius: 50%;
}
.App-logo {
  height: 40vmin;
}

.button-download {
  width: 50%;
  background-color: #00008b;
  border: none;
  border-radius: 5%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}
.button-download:hover {
  background-color: #02ac46;
  color: white;
}

/* skills css */
.skill-parent {
  margin: 1rem;
  text-align: center;
}

.skill-child {
  display: inline-block;
  vertical-align: middle;
}

