/* Home (with app names) css */
.App {
  text-align: center;
}

.App h1,h2,h3,h4,p,ul,li{
  text-align: center; 
  color: #f2f2f2;
}

.App-logo-wrapper-center {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-logo-circular {
  height: 40vmin;
  border-radius: 50%;
}
.App-logo {
  height: 40vmin;
}

/* skills css */
.skill-parent {
  margin: 1rem;
  text-align: center;
}

.skill-child {
  display: inline-block;
  vertical-align: middle;
}

