.info-box h2 {
    margin-top: 0;
}

.info-box ul {
    margin: 3px;
    padding-left: 20px;
    max-height: 100px;
    width: auto;
    overflow: hidden;
}

.show-more-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}

/* for larger screen */
@media (min-width: 768px) {
    .info-box {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        width: calc(36% - 20px);
        display: inline-block;
        vertical-align: top;
    }

    .info-box ul, h4{
        text-align: justify;
    }
}

/* for smaller screen */
@media (max-width: 767px) {
    .info-box {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        width: auto;
    }

    .info-box ul{
        text-align: left;
    }
}