/* app css */
.App {
  text-align: center;
}

.App h1,h2,h3,h4,p,ul,li{
  text-align: center; 
  color: #f2f2f2;
}

.App-logo-wrapper-center {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-logo-circular {
  height: 40vmin;
  border-radius: 50%;
}
.App-logo {
  height: 40vmin;
}

/* skills css */
.skill-parent {
  margin: 1rem;
  text-align: center;
}

.skill-child {
  display: inline-block;
  vertical-align: middle;
}

/* project css */
.header{
  text-align: center; 
  color: #f2f2f2;
}

/* footer css */
.footer-basic {
  padding:40px 0;
  padding-top: 10%;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
  color: #f2f2f2;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #f2f2f2;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#f2f2f2;
  margin-bottom:0;
}

/* project css */
.projectlinks a {
  color: #f2f2f2;
}